.youtube-videos{
	width: 100%;
	background: url(media/logo-dark.jpeg) center, no-repeat;
	background-size: 100%;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
}

@media screen and (max-width: 900px){
	.youtube-videos{
		display: block;
		align-items: center;
		justify-content: center;
	}

	.video{
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}
}
 